<html>

<head>
  <%- include ('../partials/messages') %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<h1>User Reports</h1>

<form action="reports" method="post">
  <label for="reason">Number of user Reports</label><br>
  <input type="number" id=reportsNumber name="reportsNumber"></input><br>
  <input id='button' type="submit" value="Submit">
</form>

    <% for (let index = 0; index < reports.length; index++) { %>
       <br> <a type = "button" href = "/profile/<%= reports[index].userID.username %>" ><%= reports[index].userID.username %></a>
       <form action="deleteUser/<%=reports[index].userID._id%>" method="post">
       <button input type="submit">Delete</button>
       </form>

       <form action="suspendUser/<%=reports[index].userID._id%>" method="post">
       <button input type="submit">suspend</button>
       </form>

       <form action="reportList/<%=reports[index].userID._id%>" method="post">
       <button input type="submit">Report List</button>
       </form>
    <% } %>
</html>
