<html>

<head>
  <%- include ('./partials/messages') %>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/js/funcs.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Home - C-Hub</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css">
  <link rel="stylesheet" href="/css/Growing-Search-Bar-Animated-Text-Input.css">
  <link rel="stylesheet" href="/css/Search-Input-responsive.css">
</head>

<script>
  function myFunction() {
    //document.getElementById("linkForm").hidden = toggle;

    if (document.getElementById("linkForm").hidden == true) {
      document.getElementById("linkForm").hidden = false;
    } else {
      document.getElementById("linkForm").hidden = true;
    }
  }

  function editProf() {
    //document.getElementById("linkForm").hidden = toggle;

    if (document.getElementById("linkBtn").hidden == true) {
      document.getElementById("linkBtn").hidden = false;
    } else {
      document.getElementById("linkBtn").hidden = true;
    }
  }
</script>

<body id="page-top">
  <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
    <a href='/'>
      <div class="container"><img src="/img/C-hub%20(3).png">
    </a><button data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i
        class="fa fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <div class="float-left float-md-right mt-5 mt-md-0 search-area"></div>
      <div class="d-flex justify-content-center h-100">
        <form action="search" method="post">
          <div class="searchbar"><input type="text" name="username" class="search_input" placeholder="Search..."><button class="search_icon" type="sumbit"><i class="fas fa-search"></i></button></div>
        </form>
      </div>
      <ul class="navbar-nav ml-auto">

        <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link active js-scroll-trigger" onclick="editProf()">Edit</a></li>
        <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link js-scroll-trigger" href="#contact">contact</a></li>
        <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
        <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link js-scroll-trigger" href="/profile/<%= user.username %>">Profile</a></li>
        <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link js-scroll-trigger" href="/users/logout">Logout</a></li>
        <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link js-scroll-trigger" href="/users/forgot">Edit Password</a></li>
        <li class="nav-item"></li>
      </ul>
    </div>
    </div>
  </nav>
  <header class="masthead" style="background-image:url('/img/intro-bg.jpg');">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">

            <button onclick="myFunction()" id="linkBtn" hidden='true'> Add a link </button>


            <div class="linkInput">
              <form action="/dashboard" method="post" id="linkForm" hidden>
                <input type="text" name="title" id="title" placeholder="Title">
                <input type="url" name="url" id="url" placeholder="Link">
                <button type="submit" value="Submit">Submit</button>
              </form>
            </div>


            <br>

            <h1 class="brand-heading">Welcome <%= user.username %>!</h1>
            <% if (user.admin == true){ %>
            <p>this is an admin account</p>
            <% } %>
            <p class="intro-text">All of your favorite content. All in one place.</p><a class="btn btn-link btn-circle" role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a>
            <!-- Display added link to profile.ejs? -->

            <!-- <form action="/dashboard" method="post" id='remove-btn'>  -->

            <!-- Here, try to see if passing user.urls object id back to the backend will allow it to be removed? -->
            <div class="container">
              <% for( let index = 0; index < user.urls.length; index++ ) { %>
              <!-- onclick="deleteEntry('<%# user._id %>','<%# user.urls[index].title %>', '<%# user.urls[index].url %>' -->
              <!-- FIX LATER: <button frommethod = "post" formaction="/dashboard" id = "jeff">remove{icon}</button> -->
              <div class="row">
                <div class="col-md-12">
                  <br><a href="<%=user.urls[index].url%>"><%=user.urls[index].title%></a>
                </div>
              </div>
              <% } %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="text-center download-section content-section" id="download" style="background-image:url('/img/downloads-bg.jpg');"></section>
  <div class="map-clean"></div>
  <footer>
    <div class="container text-center">
      <p>Copyright ©&nbsp;C-Hub 2021</p>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="/js/grayscale.js"></script>
</body>

</html>
