<!DOCTYPE html>
<html>
    <%- include ('./partials/messages') %>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>C-Hub</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="login-dark">
        <form action="/users/register" method="post">
            <h2 class="sr-only">Register!</h2>
            <div class="mx-auto"><img src="/img/C-hub (3).png" class="img-fluid" alt="Responsive image"></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" value="<%= typeof email != 'undefined' ? email : '' %>"></div>
            <div class="form-group"><input class="form-control" type="username" name="username" placeholder="Username" value="<%= typeof username != 'undefined' ? username : '' %>" ></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" value="<%= typeof password != 'undefined' ? password : '' %>" ></div>
            <div class="form-group"><input class="form-control" type="password" name="password2" placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" ></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Register</button></div><a class="forgot" href="/users/login">Already have an account?</a>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>